<!DOCTYPE html>
<html>
<head>
    <title>SeansMovieSite</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <div id="top-banner"></div>
    <a class="heading" href= "/" >Seans MovieSite - Watch Movies Online FREE</a>
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
    <div class="box">
            <input type="text" class="input" name="txt" onmouseout="this.value = ''">
            <i class="fas fa-search"></i>
    </div>
    
    <p style="color: red" id="err_text"></p>
    <br>
    <br>
</body>
</html>
<script type= 'text/javascript' src="js/index2.js"></script>