
.title{
    border: 1px solid grey;
    margin: 35px 25px;
    width: 450px;
    height: 325px;
    float: left;
}
.title_img{
    width: 450px;
    height: 325px;
}
#top-banner{
    position: absolute;
    top:0;
    left:0;
    background-color: blue;
    width: 100%;
    height: 8vh;
    z-index: -1;
}
.heading{
    color: white;
    margin-top: 5px;
    font-size: 30px
}

.box{
    position: absolute;
    top: 4%;
    left: 87%;
    transform: translate(-50%,-50%);
    width: fit-content;
    height: fit-content;
}
.input {
    padding: 10px;
    width: 50px;
    height: 60px;
    background: none;
    border: 4px solid black;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: black;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: lightgrey;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: black;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}



@media only screen and (max-width: 1024px) {
    .title{
        width: 350px;
        height: 145px;
        margin: 25px 15px;
        float: left;
    }
    .title_img{
        width: 350px;
        height: 145px;
    }
    #top-banner{
        position: absolute;
        top:0;
        left:0;
        background-color: blue;
        width: 100%;
        height: 8vh;
        z-index: -1;
    }
    .heading{
        color: white;
        margin-top: 5px;
        font-size: 30px
    }
    
    .box{
        position: absolute;
        top: 4%;
        left: 85%;
        transform: translate(-50%,-50%);
        width: fit-content;
        height: fit-content;
    }
    .input {
        padding: 10px;
        width: 50px;
        height: 60px;
        background: none;
        border: 4px solid black;
        border-radius: 50px;
        box-sizing: border-box;
        font-family: Comic Sans MS;
        font-size: 26px;
        color: black;
        outline: none;
        transition: .5s;
    }
    .box:hover input{
        width: 330px;
        background: lightgrey;
        border-radius: 10px;
    }
    i{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%,-50%);
        font-size: 26px;
        color: black;
        transition: .2s;
    }
    .box:hover i{
        opacity: 0;
        z-index: -1;
    }
}